*/bin*/
*/*.map
*/*.properties
*/*.jazzignore
*/src/.generated~/
*/target~/
*/.settings/org.sonar.ide.eclipse.core.prefs
*/_*/
# */launches/
*/launches/*.properties
*/ej.examples.*/
com.microej.example.iot.ssl.websocket/com.microej.example.iot.ssl.websocket.WebsocketBS/
com.microej.example.iot.ssl.websocket/src-adpgenerated/
