bin/
.generated~/
.sonar/
target~/
*/_*/
*/launches/*.properties
src-adpgenerated/
**/com.microej.example.iot.*/com.microej.example.iot.*/
filesystem/
build/
.gradle/
.idea/
.vscode/
.iml
.settings
.project
.classpath

build.gradle
local.properties